body * {
  margin: 0;
}

body {
  color: olive;
}

h1 {
  font-size: 1em;
}

/* body h2 + p {
  background-color: yellow;
}

body p[class] {
  background-color: lime;
}

.ai {
  background-color: orange !important;
}

#ai {
  background-color: pink;
}

.ai.copilot {
  border: 10px dotted blue;
} */

a {
  color: inherit;
}
