@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';

/** 플렉스를 활용한 반응형 레이아웃 **/

/* 메인 콘텐츠와 사이드바 그룹 ver*/
/* .header {
  background: var(--pastel-coral);
  height: 10vh;
}

.navigation {
  background: var(--pastel-green);
  height: 15vh;
}

.main-wrapper {
  @media (min-width: 768px) {
    display: flex;

    .content,
    .sidebar {
      flex: 1 0 0;
      height: 65vh;
    }
  }
}

.content {
  background: var(--pastel-aqua);
  height: 40vh;
}

.sidebar {
  background: var(--pastel-yellow);
  height: 25vh;
}

.footer {
  background: var(--pastel-lavender);
  height: 10vh;
} */

/* 메인 콘텐츠와 사이드바 그룹 안한 ver*/
.container {
  @media (min-width: 768px) {
    display: flex;
    flex-flow: row wrap;

    .main-wrapper {
      display: contents;
    }

    .header,
    .navigation,
    .footer {
      width: 100%;
      inline-size: 100%;
    }
    .content,
    .sidebar {
      width: 50%;
      inline-size: 50%;
      height: 65vh;
    }

    @media (min-width: 1024px) {
      .content,
      .navigation,
      .sidebar {
        height: 80vh;
      }

      .navigation,
      .sidebar {
        width: 25%;
        inline-size: 25%;
      }
    }
  }
}

.header {
  background: var(--pastel-coral);
  height: 10vh;
}

.navigation {
  background: var(--pastel-green);
  height: 15vh;
}

.main-wrapper {
  @media (min-width: 768px) {
  }
}

.content {
  background: var(--pastel-aqua);
  height: 40vh;

  @media (min-width: 768px) {
  }
}

.sidebar {
  background: var(--pastel-yellow);
  height: 25vh;

  @media (min-width: 768px) {
  }
}

.footer {
  background: var(--pastel-lavender);
  height: 10vh;
}
