@import '/src/common/mini-reset.css';

:root {
  --green: #22be61;
  --gray: #929b90;

  --border: #f9fefe;
}

body {
  background-color: #f4f6f8;
}

.wrapper {
  padding: 100px;
}

.noti-box {
  display: flow-root;
  width: 332px;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px rgba(114, 119, 124, 0.2);

  img {
    float: left;
    padding-top: 8px;
  }
  .noti-text {
    float: left;
    margin-left: 20px;
    width: 83%;

    .noti-top {
      display: flow-root;
      font-weight: bold;
      color: var(--green);

      strong {
        float: left;
        font-size: 18px;
      }

      span {
        float: right;
        padding-top: 2px;
        font-size: 11px;
      }
    }
  }

  .noti-content {
    margin-top: 4px;
    font-size: 14px;
    color: var(--gray);
  }
}
