@import '/src/common/modern-reset.css';
@import '/src/common/a11y.css';

/** 아바타 컴포넌트 **/

/* 인터랙션이 없는 컴포넌트 */
.img-avatar {
  --size: 4rem;
  --radius: 50%;
  --state-default: #dbdbdb;
  --state-active: #4cfe88;
  --state-border: #fff;

  position: relative;
  width: var(--size);

  img {
    width: 100%;
    /* height: var(--size); */
    aspect-ratio: 1/1;
    border-radius: var(--radius);
  }

  .state {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    aspect-ratio: 1/1;
    border: 2px solid var(--state-border);
    border-radius: var(--radius);
    background-color: var(--state-default);

    &.is-active {
      background-color: var(--state-active);
    }
  }
}

/* 인터랙션이 있는 컴포넌트 */
.button-avatar {
  --size: 4rem;
  --radius: 50%;
  --state-default: #dbdbdb;
  --state-active: #4cfe88;
  --state-border: #fff;

  position: relative;
  width: var(--size);
  border: none;
  padding: 0;
  background-color: transparent;

  &::after {
    content: '';
    position: absolute; /* BFC */
    bottom: 0;
    right: 0;
    width: 25%;
    aspect-ratio: 1/1;
    border: 2px solid var(--state-border);
    border-radius: var(--radius);
    background-color: var(--state-default);
  }

  &.is-active::after {
    background-color: var(--state-active);
  }

  img {
    width: 100%;
    /* height: var(--size); */
    aspect-ratio: 1/1;
    border-radius: var(--radius);
  }
}
